[Unit]
Description = Automatically play media on GUI start

[Service]
User=eresearch
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/run/user/1000/gdm/Xauthority"
ExecStart=/home/eresearch/media-streaming-pi/playback.sh
Restart=always

[Install]
WantedBy=graphical.target
