[Unit]
Description = Automatically play media on GUI start

[Service]
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/pi/.Xauthority"
ExecStart=/home/pi/media-streaming-pi/playback.sh
User=pi
Restart=always
RestartSec=5
TimeoutSec=5

[Install]
WantedBy=graphical.target network.target
